<app-header></app-header>
<main class="container-fluid">
  <h2>Budget Dashboard</h2>
  <div>
    <a
      id="new-btn"
      class="btn btn-sm btn-success"
      [routerLink]="['/budgets/new']"
    >
      New Budget
    </a>
  </div>
  <table
    class="table table-striped"
    id="budget-table"
    *ngIf="budgets$ | async as budgets; else loadingBudgets"
  >
    <thead>
      <tr>
        <th scope="col">Budgets</th>
        <th scope="col">Amount</th>
        <th scope="col"># Expenses</th>
        <th scope="col">Expenses Total</th>
        <th scope="col">Remaining</th>
        <th scope="col"><!-- Edit --></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let budget of budgets; let id = index">
        <td>
          <a [routerLink]="['/budgets/details', budget.id]">
            {{ budget.name }}
          </a>
        </td>
        <td>{{ budget.amount | currency }}</td>
        <td>{{ getExpenseCount(budget, expenses$ | async) }}</td>
        <td>
          {{ getExpenseTotalForBudget(budget, expenses$ | async) | currency }}
        </td>
        <td
          [ngClass]="{
            deficit: isDeficit(getRemainingBudget(budget, expenses$ | async))
          }"
        >
          {{ getRemainingBudget(budget, expenses$ | async) | currency }}
        </td>
        <td>
          <a
            class="btn btn-sm btn-info"
            [routerLink]="['/budgets/edit', budget.id]"
          >
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <h4 *ngIf="(budgets$ | async).length === 0">There are no budgets.</h4>
  </div>
  <ng-template #loadingBudgets>
    <div>Loading Budgets...</div>
  </ng-template>
</main>
